<div class="jumbotron center">
	<h1>Mock Pinterest App</h1>
	
	<% if user_signed_in? %>
	# hello you are alread sigend in
	<% else %>
		<p> 
			<%= link_to "Login", new_user_session_path, class: "btn btn-default btn-lg active" %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg active" %>
		</p>
	<% end %>

</div>
